<p id="notice"><%= notice %></p>

<h1>Trackers</h1>
<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Topic</th>
      <th>Message</th>
      <th>Created</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.client_id %></td>
        <td><%= tracker.topic %></td>
        <td><%= tracker.message %></td>
        <td><%= tracker.created_at %></td>
        <td><%= tracker.updated_at %></td>
        <td><%= link_to 'Show', tracker %></td>
        <td><%= link_to 'Edit', edit_tracker_path(tracker) %></td>
        <td><%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @trackers %>


<%= link_to 'New Tracker', new_tracker_path %>
