<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @tracker.client_id %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @tracker.topic %>
</p>

<p>
  <strong>Message:</strong>
  <%= @tracker.message %>
</p>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
